*.mp4
*/*.mp4
*/*/*.mp4
*/*/*/*.mp4

*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf

*.png
*/*.png
*/*/*.png
*/*/*/*.png

cortexetl/__pycache__/*

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc

cortexetl/__pycache__/*
